body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#menu {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    height: 40spx;
}

#menu li {
    text-align: center;
    padding: 5px;

}
#menu li a {
    text-decoration:none; 
    color:rgb(0, 0, 0)
}

#menu li a:hover {
    color: blanchedalmond;
   
  
}